

button {
    background-color: white;
    border: 2px solid rgba(126, 84, 253, 0.53);
    padding: 4px 0;
    font-size: 16px;
}

.fixed-width {
    width: 160px;
}

.icon {
    padding: 0 4px;
}

button:hover {
    background-color: rgba(200, 184, 255, 0.53);
}

